/* ===========================
   Base
   =========================== */
html{
    position:relative;
}

body {
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

.flex-container{
    display:flex;
    justify-content: space-between;
}

.flex-container.flex-end{
    justify-content: flex-end;
}

.flex-container.vertical-center{
    align-items: center;
}

.visible{
    display:block !important;
}

.hidden{
    display:none !important;
}