@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$fontPrimary: "Droid Sans";
$fontSecondary: "Oswald";

// = Colors
$primary: rgb(82,52,104);
$secondary: rgb(215,58,30);

$fontColorPrimary:rgb(34,34,34);
$fontColorSecondary:rgb(215,58,30);

$margin:65px; /* margem do conteúdo sobre o lado direito e esquerdo */
$transitionTime: 0.25s;
$mobileScreen: 50em;