/* ==|====================
   Layout/Footer
   ======================= */

.l-footer {
    background:#ccc;
    padding:$margin 25px;

    > div{
        flex-wrap: wrap;
    }

    .flex-container{
         align-items: flex-start;
    }
}
