.l-header{
    padding-left: $margin;
    padding-right: $margin;

.mobile-menu-btn{
    display:none;
}

    @media (max-width: $mobileScreen) {
       padding:0;

       .logo{
            align-items: center;
            display: flex;
            justify-content: center;
       }

       .logo img{
            width:75%;
       }

       .mobile-menu-btn{
           display: block;
           color:$primary;
           font-size: 26px;
           margin-left:10px;
           max-width: 19px;
           i:nth-child(2){
             font-size: 29px;
           }
       }
    }

}